body{
    font-family: 'Montserrat', sans-serif;
    background-color: #E5E5E5;
    padding: 0;
    margin: 0;
}
.main-container{
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    background-color: #FFFFFF;
    margin:  0;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
/* main-bar-section*/
.main-content-section {
    padding: 50px 90px 76px 90px;
}
.main-content-title{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin: 0 0 10px 0;
}
.about-my-section{
    margin: 0 0 40px 0;
}
.about-my-proff{
    color: #000;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    margin: 0 0 20px 0;
}
.about-my-name{
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin: 0 0 25px 0;
}
.about-my-description{
    /*Width: 400px;*/
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #000000;

}
/*my-projects-section*/
.my-projects-section{
    margin: 0 0 50px 0;

}
.my-projects-list{
    padding: 0 0 0 17px;
    color: black;
}
.my-projects-item{
    color: black;
    font-weight: bold;
}
.my-projects-text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    margin-left: 5px;
}
.my-projects-link{
    font-style: normal;
    /*font-weight: normal;*/
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}
.my-projects-bracket{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}
/*my-work-experience*/

.main-content-work{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
}
.main-content-date{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    margin: 0 0 10px 0;
}
.main-content-tire{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}
.my-work-name{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin: 0 0 10px 0;
}
.my-work-experience-duties{
    padding: 0 0 0 15px;
    color: #000000;
}
.main-content-story{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}
.my-work-experience-name{
    margin: 0 15px 0 0;
}


/*Side bar section*/
.side-bar-section{
    background-color: #1E2939;
    width: 370px;
    padding: 40px 0;
}
.foto{

    width: 370px;
}

.contact-section,
.teach-skills-section{
    margin: 50px 0 0 40px;
}
.soft-skills-section{
    margin: 45px 0 0 40px;
}
.side-bar-title{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #ffffff;
    margin-bottom: 8px;
}
/*Contact section*/
.contact-section-type{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    margin-right: 5px;
    color: #FFFFFF;
}
.contact-section-link{
    color: #f7f9fc;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
}
/*teach-skills section*/
.teach-skills-list{
    padding: 0 0 0 17px;
}
.teach-skills-item{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #FB6D3A;
}
.teach-skills-item-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}

.mar-50{
    margin-bottom: 50px;
}

.my-projects-Git{
    font-style: normal;
    /*font-weight: normal;*/
    font-size: 14px;
    line-height: 24px;
    color: #342f2f;
    font-weight: bold;
    text-decoration: none;
}